streamlit>=1.35.0
extra-streamlit-components>=0.1.71
pandas>=2.0.0
anthropic>=0.25.0
requests>=2.31.0
google-auth>=2.28.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.118.0
google-auth-oauthlib>=1.0.0
pymupdf>=1.24.0
beautifulsoup4>=4.12.0
praw>=7.7.0
tzdata>=2024.1
